.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    top: -70px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    top: 0;
  }

  to {
    opacity: 0;
    top: -70px;
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}
