.button {
  @include background-opacity(#1e1e1e, 0.04);
  border: none;
  border-radius: 6px;
  color: #1e1e1e;
  cursor: pointer;
  display: inline-block;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  min-width: 216px;
  padding: 13px 0;
  transition: all 0.4s;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include background-opacity(#1e1e1e, 0.08);
  }
}

.add-button {
  align-items: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 28px;
  letter-spacing: 0.5px;
  min-width: 216px;
  padding: 13px 19px 13px 24px;
  transition: all 0.4s;
  text-align: center;
  text-decoration: none;

  &--small {
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 17px;
  }

  &__icon {
    height: 16px;
    margin-left: 16px;
    vertical-align: middle;
    width: 16px;
  }
}

.delete-button {
  align-items: center;
  @include background-opacity(#1e1e1e, 0.04);
  border: none;
  border-radius: 6px;
  @include text-color(#1e1e1e, 0.6);
  cursor: pointer;
  display: flex;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 28px;
  letter-spacing: 0.5px;
  min-width: 216px;
  padding: 13px 19px 13px 24px;
  transition: all 0.4s;
  text-align: center;
  text-decoration: none;

  &:hover {
    @include background-opacity(#1e1e1e, 0.08);
  }

  &--small {
    justify-content: space-between;
    padding-left: 26px;
    padding-right: 17px;
  }

  &__icon {
    fill: #1e1e1e;
    height: 16px;
    margin-left: 16px;
    opacity: 0.4;
    vertical-align: middle;
    width: 16px;
  }
}

.buy-button {
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  min-width: 243px;
  padding: 10px 37px 10px 39px;
  transition: all 0.4s;
  text-align: center;
  text-decoration: none;

  &__text {
    opacity: 0.7
  }
}
