.scrollbox1 {
  position: relative;
  z-index: 1;
  overflow-y: scroll;
  background: $bg_color no-repeat !important;
  background-image:
  radial-gradient(farthest-side at 50% 0, rgba(0,0,0,0.1), rgba(247, 247, 247, 0)),
  radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,0.1), rgba(247, 247, 247, 0)) !important;
  background-position: 0 0, 0 100% !important;
  background-size: 100% 20px !important;
}

.scrollbox1:before,
.scrollbox1:after {
  content: "";
  position: relative;
  z-index: -1;
  display: block;
  height: 40px;
  margin: 0 0 -40px;
  background: linear-gradient(to bottom, #f7f7f7, #f7f7f7 50%, rgba(247,247,247,0));
}

.scrollbox1:after {
  margin: -40px 0 0;
  background: linear-gradient(to bottom, rgba(247,247,247,0), #f7f7f7 70%, #f7f7f7);
}

.scrollbox {
	overflow-y: auto;

	background:
	/* Shadow covers */
	linear-gradient(#f7f7f7 30%, rgba(247,247,247,0)),
	linear-gradient(rgba(247,247,247,0), #f7f7f7 70%) 0 100%,

	/* Shadows */
	radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
	radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100% !important;

	background:
	/* Shadow covers */
	linear-gradient(#f7f7f7 30%, rgba(247,247,247,0)),
	linear-gradient(rgba(247,247,247,0), #f7f7f7 70%) 0 100%,

	/* Shadows */
	radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
	radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100% !important;
	background-repeat: no-repeat !important;
	background-color: $bg_color !important;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px !important;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll !important;
}
