<div class="crop-popup">
  <button class="crop-popup__button crop-popup__button--close" type="button" title="Закрыть"><svg class="crop-popup__close-icon" aria-hidden="true"><use xlink:href="#close"/></svg></button>
  <div class="crop-block">
    <img id="crop-image" src="images/content/cards-slider/card_3.jpg" alt="Ваша будущая карта">
  </div>
  <div class="crop-popup__buttons">
    <div class="crop-popup__buttons-block">
      <button class="crop-popup__button" title="Увеличить"><svg class="crop-popup__button-icon" aria-hidden="true"><use xlink:href="#zoom_+"/></svg></button>
      <button class="crop-popup__button" title="Уменьшить"><svg class="crop-popup__button-icon" aria-hidden="true"><use xlink:href="#zoom_-"/></svg></button>
    </div>
    <div class="crop-popup__buttons-block">
      <button class="crop-popup__button" title="Повернуть влево"><svg class="crop-popup__button-icon" aria-hidden="true"><use xlink:href="#rotate_left"/></svg></button>
      <button class="crop-popup__button" title="Повернуть вправо"><svg class="crop-popup__button-icon" aria-hidden="true"><use xlink:href="#rotate_right"/></svg></button>
    </div>
    <div class="crop-popup__buttons-block">
      <button class="crop-popup__button crop-popup__button--accept">Изменить фото</button>
    </div>
    <div class="crop-popup__buttons-block">
      <button class="crop-popup__button" title="Применить"><svg class="crop-popup__button-icon" aria-hidden="true"><use xlink:href="#check"/></svg></button>
    </div>
  </div>
</div>
