<footer class="footer">
  <div class="footer__left">
    <img width="75" height="38" src="images/logo.svg" alt="Digift">
    <a class="footer__phone" href="tel:88003330778">8 800 333 0778</a>
  </div>
  <div class="footer__center">
    <a class="footer__link" href="help.html">Поддержка</a>
    <a class="footer__link" href="faq.html">FAQ</a>
    <a class="footer__link" href="rules.html">Правила</a>
    <a class="footer__link" href="offer.html">Оферта</a>
  </div>
  <div class="footer__right">
    <img class="footer__icon" width="51" height="14" src="images/icons/mir.png" alt="МИР">
    <img class="footer__icon" width="45" height="14" src="images/icons/visa.png" alt="VISA">
    <img class="footer__icon" width="40" height="31" src="images/icons/mastercard.png" alt="MASTERCARD">
  </div>
</footer>
