<header class="header">
  <span class="logo"><img class="logo__image" width="140" height="41" src="images/content/logo.svg" alt="Азбука Вкуса"></span>
  <span class="header__title">Электронный подарочный сертификат</span>
  <div class="header__links">
    <a class="header__link" href="#">Как это работает</a>
    <div class="header__socials">
      <a class="header__social" href="#" rel="nofollow noreferrer" title="vk.com">
        <svg class="header__social-icon header__social-icon--vk" aria-hidden="true"><use xlink:href="#vk"/></svg>
      </a>
      <a class="header__social" href="#" rel="nofollow noreferrer" title="facebook.com">
        <svg class="header__social-icon header__social-icon--fb" aria-hidden="true"><use xlink:href="#fb"/></svg>
      </a>
      <a class="header__social" href="#" rel="nofollow noreferrer" title="twitter.com">
        <svg class="header__social-icon header__social-icon--tw" aria-hidden="true"><use xlink:href="#tw"/></svg>
      </a>
    </div>
  </div>
</header>
