.calandar-holder {
  position: relative;
  z-index: 1;
}

.calendar-overlay {
  @include background-opacity(#000, 0.06);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.calendar {
  background-color: #fff;
  border-radius: 6px;
  display: none;
  font-family: "GothamPro", sans-serif;
  height: 402px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -65%);
  width: 294px;
  z-index: 1;

  &.is-active {
    display: block;
  }

  &__top {
    display: flex;
    border-radius: 6px 6px 0 0;
  }

  &__switch {
    background-color: rgba(31, 31, 34, 0.1);
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "GothamPro", sans-serif;
    line-height: 1;
    padding: 15px 18px;
    text-align: left;
    width: 50%;

    &.is-active {
      background-color: transparent;
    }

    &:first-child {
      border-radius: 6px 0 0 0;
    }

    &:last-child {
      border-radius: 0 6px 0 0;
    }
  }

  &__switch-title {
    display: block;
    font-size: 13px;
    letter-spacing: 0;
    margin-bottom: 7px;
  }

  &__switch-value {
    display: block;
    font-size: 16px;
    font-weight: 500;
  }

  &__block {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__month {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__month-button {
    background: none;
    border: none;
    cursor: pointer;
    height: 42px;
    padding: 0;
    opacity: 0.3;
    transition: opacity 0.4s;
    width: 42px;

    &:hover {
      opacity: 1
    }
  }

  &__month-arrow {
    fill: #1e1e1e;
    height: 12px;
    width: 12px;
  }

  &__month-title {
    color: #868686;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    padding-top: 14px;
    padding-bottom: 15px;
    text-align: center;
  }

  &__month-table {
    text-align: center;
    width: 100%;
  }

  &__day-title {
    color: #868686;
    font-size: 13px;
    font-weight: 500;
    height: 42px;
    vertical-align: middle;
  }

  &__day {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    color: #1e1e1e;
    cursor: pointer;
    font-family: "GothamPro", sans-serif;
    font-size: 13px;
    height: 42px;
    padding: 0;
    transition: background-color 0.4s, color 0.4s;
    width: 42px;

    &.current,
    &.is-active {
      cursor: default;
    }

    &.disabled,
    &.disabled:hover {
      background: none;
      color: #1e1e1e;
      cursor: default;
      opacity: 0.4;
    }
  }

  &__time-picker {
  }

  &__time-table {
    width: 100%;
  }

  &__time-block {
    text-align: center;
  }

  &__time {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    color: #1e1e1e;
    cursor: pointer;
    font-family: "GothamPro", sans-serif;
    font-size: 13px;
    height: 42px;
    padding: 0;
    transition: background-color 0.4s, color 0.4s;
    width: 100%;

    &.is-active {
      cursor: default;
    }

    &.disabled,
    &.disabled:hover {
      background: none;
      color: #1e1e1e;
      cursor: default;
      opacity: 0.4;
    }
  }
}
