.card-preview {
  box-shadow: 0 19px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -48px;
  overflow: hidden;
  position: relative;
  transform: translateY(-48px);
  width: 232px;

  &__card {
    border-radius: 12px;
  }

  &__par {
    @include background-opacity(#1e1e1e, 0.6);
    border-radius: 6px;
    bottom: 6px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    height: 35px;
    letter-spacing: 0.3px;
    left: auto;
    position: absolute;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    right: 6px;
    text-align: center;
  }
}
