.choosen-options {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.choosen-option {
  border-radius: 18px;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1;
  margin-left: 3px;
  margin-right: 3px;
  padding: 10px 16px 11px;
}
