.pars {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.par {
  @include background-opacity(#1e1e1e, 0.04);
  border: none;
  border-radius: 6px;
  color: #1e1e1e;
  cursor: pointer;
  font-family: "GothamPro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 54px;
  line-height: 1;
  letter-spacing: 0.5px;
  margin-left: 6px;
  margin-right: 6px;
  text-align: center;
  transition: all 0.4s;
  width: 124px;

  &:hover {
    @include background-opacity(#1e1e1e, 0.06);
  }

  &__currency {
    color: #7d7d7d;
    transition: color 0.4s;
  }

  &.is-active {
    color: #fff;
    cursor: default;

    .par__currency {
      color: #fff;
    }
  }
}

.user-par {
  align-items: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 54px;
  font-family: "GothamPro", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  min-width: 202px;
  padding: 13px 19px 13px 24px;
  transition: all 0.4s;
  text-align: center;
  text-decoration: none;

  &.error,
  &.error:hover {
    @include background-opacity(#c5071e, 0.16);
    color: #c5071e;

    .user-par__input {
      &::-webkit-input-placeholder {
        color: #c5071e;
      }

      &::-moz-placeholder {
        color: #c5071e;
      }

      &:-ms-input-placeholder {
        color: #c5071e;
      }
    }

    .user-par__icon {
      fill: #c5071e;
    }
  }

  &__input {
    background-color: transparent;
    border: none;
    color: #1e1e1e;
    cursor: pointer;
    font-family: "GothamPro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 16px;
    left: 50%;
    letter-spacing: 0.5px;
    padding: 0;
    width: 124px;

    &::-webkit-input-placeholder {
      opacity: 1;
    }

    &::-moz-placeholder {
      opacity: 1;
    }

    &:-ms-input-placeholder {
      opacity: 1;
    }

    &:focus {
      &::-webkit-input-placeholder {
        opacity: 0;
      }

      &::-moz-placeholder {
        opacity: 0;
      }

      &:-ms-input-placeholder {
        opacity: 0;
      }
    }
  }

  &__icon {
    height: 16px;
    margin-left: 10px;
    vertical-align: middle;
    width: 16px;
  }
}
